---
- name: Deploy App on RHEL Using Podman
  hosts: all
  become: true
  vars:
  - app_port: "8080"
  #- app_name: "tasks-app"
  - app_image: "quay.io/cmedeiro/tasks-app:latest"
 
  tasks:
  - name: Install podman and firewald packages
    ansible.builtin.package:
      name:
        - podman
        - firewalld
      state: present
  
  - name: Deploy application using podman
    containers.podman.podman_container:
      name: "{{ app_name }}"
      image: "{{ app_image }}"
      ports:
        - "{{ app_port }}:{{ app_port }}" 

  - name: Enable firewald service to start on boot up
    ansible.builtin.systemd:
      name: firewalld
      state: started
      enabled: true
    
  - name: Create firewall rule for application
    ansible.posix.firewalld:
      port: "{{ app_port }}/tcp"
      permanent: true
      state: enabled
      immediate: true
