ALERT!
This system is restricted to authorized users only.
Unauthorized access is strictly prohibited and will be prosecuted.
All activities on this system are logged.
This warning is for legal purposes to inform users of their responsibilities and the consequences of unauthorized access.

App Public Address: 'http://{{ public_dns_name }}:8080'
